:root {
    --blue: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --yellow: #FCBF49;
    --miniWhite: #EAE2B7;
    --white: #FFFFFF;
    --black: #000000;
    --green: #049624;
    --gray: #808080;
    
    --interFont: 'Inter', sans-serif;
    --poppinsFont: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    width: 1440px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 368px;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.left-content .logo-icon {
    height: 250px;
    width: 250px;
    background-color: var(--green);
}

.left-content h1 {
    color: #2B2F38;
    font-size: 40px;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header .logo-icon {
    height: 52px;
    width: 52px;
    background-color: var(--gray);
    margin-bottom: 24px;
}

.content-header h2 {
    font-size: 32px;
    font-weight: 600;
    color: #2B2F38;
    margin-bottom: 12px;
}

.content-header p {
    color: #667085;
    margin-bottom: 12px;
}

.form-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-block .input-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.input-block .input-row label {
    font-size: 14px;
    color: #48505E;
}

.input-block .input-row input {
    padding: 14px 16px;
    width: 360px ;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.rem-for {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-block .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
}

.button-block .btn-bg {
    background-color: var(--orange);
    color: var(--white);
}

.button-block .btn-nbg {
    border: 1px solid #D0D5DD;
}

.signup-block {
    margin-top: 32px;
    color: #667085;
}

.signup-block a, .rem-for a  {
    color: var(--orange);
}
